# Virtual environments
.venv/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variables
.env

# VS Code
.vscode/

# Frontend
node_modules/
dist/
build/

# OS files
.DS_Store
Thumbs.db
